:root{
    --mainText: #F1DFD1;
    --reverseText: #232385;
    --mainAccent:#E85C4F;
    --fixedAccent: #C1121F;
    --logo: url(public/images/logo1Dark.svg);
    --mode: url(public/images/light.svg);
    --mainBg:#1D1D6E;
    --heroBg: url(public/images/herobg1.jpg);
    --mainShape: url(public/images/lightMainShape.svg);
    --btnShape:  url(public/images/btnShape1.svg);
    --heroMandalaOp:1;
    
}
.lightMode{
    --mainText:  #13134A;
    --reverseText: #F1DFD1;
    --mainAccent:#C1121F;
    --fixedAccent: #C1121F;
    --logo: url(public/images/logo2.svg);
    --mode: url(public/images/dark.svg);
    --mainBg:#F1DFD1;
    --heroBg: url(public/images/herobg2.jpg);
    --mainShape: url(public/images/darkMainShape.svg);
    --btnShape:  url(public/images/btnShape3.svg);
    --heroMandalaOp:0.8;
}
*{
    margin: 0;
    padding: 0;
    color: var(--mainText);
    font-family: "Red Hat display";
    transition: all 0.2s ease-in-out;
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background: var(--mainText);
}
body{
    background-color: var(--mainBg);
    position: relative;
}
.header_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    padding: 24px 72px;
    box-sizing: border-box;
}
.logoContainer{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}
.logo_header{
    width: 138px;
    height: 23px;
    background-image: var(--logo)
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style: none;
    height: 24px;
}
nav ul li {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    color: var(--reverseText);
    padding: 0 10px;
}
nav ul li:hover{
    padding: 0 10px 5px 10px;
    opacity: 0.5;
}
a{
    text-decoration: none;
    height: inherit;
    color: inherit;
}
.lightButton{
    position: fixed;
    z-index: 999;
    background: var(--mainText);
    bottom: 5vh;
    right: 5vw;
    padding: 12px;
    border-radius: 33px;

}
.lightButton:hover{
    margin-bottom: 5px;
}
.lightButton:hover div{
    opacity: 0.5;
}
.lightButton:active div{
    scale: -1;
    opacity: 0.5;
}
.lightButton div{
    background-image: var(--mode);
    width: 25px;
    height: 25px;
}
button{
    outline: none;
    border: inherit;
}
.hero{
    background: var(--heroBg);
    width: 100%;
    height: 623px;
    overflow: hidden;
    position: relative;
}
.centeredBg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.margined{
    margin: 80px auto;
}
.container{
    width: 100%;
    max-width: 1440px;
    padding: 72px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.heroBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    align-self: stretch;
}
h2{
    color: var(--mainText);
    font-family: "El Messiri";
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: center;
    line-height: 62px;
}
h2 span{
    color: var(--mainAccent);
    font-family: inherit;
}
h6{
    font-size: 16px;
}
p{
    font-size: 20px;
    font-weight: 300;
}
.heroBlock p{
    max-width: 700px;
    text-align: center;
    margin-top: 22px;
    letter-spacing: 0.5px;
}
.mainShape{
    width: 66px;
    height: 39px;
    background: var(--mainShape);
    align-self: center;
    justify-self: center;
    margin: 0px auto 9px auto;
}
.button1{
    display: flex;
    padding: 12px 17px;
    color: #F5F5F5;
    text-align: center;
    font-family: "El Messiri";
    font-size: 16px;
    font-weight: 400;
    background: var(--fixedAccent);
    position: relative;
    bottom: 0;
    margin: 0 20px;
}
.buttonsFlex{
    display: flex;
    gap: 16px;
}
.button1::before,
.button1::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 28px;
    background-image: url(public/images/btnShape2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
}

.button1::before {
    left: -20px;
}
.button1::after {
    right: -20px;
    transform: translateY(-50%) scaleX(-1);
}
.button1:hover::before {
    left: -25px;
}

.button1:hover::after {
    right: -25px;
}
.button1:hover{
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    bottom: 5px;
    color: #f5f5f5a3;
}
.button2{
    color: var(--mainText);
    border: 1px solid var(--mainText);
    background: none;
}
.button2::before,
.button2::after {
    background-image: var(--btnShape);
}
.mandalasFlex{
    width: 100%;
    display: flex;
    position: absolute;
    gap: 0;
    bottom: -250px;
    align-items: center;
    justify-content: center;
    justify-self: center;
    opacity: var(--heroMandalaOp);
}
.mandalasFlex img{
    width: 372px;
    height: auto;
    transform: rotate(0deg);

}
.rotateanim{
    animation: rotate 4s linear infinite;
}
.rotateanim2{
    animation: rotate2 4s linear infinite;
}
@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.scroll_animate2{
    view-timeline: --scroll-tl;
    animation-timeline: --scroll-tl;
    animation-delay: cover 30%;
    animation-range: cover 30% cover 35%;
}
@keyframes rotate2{
    from {
        transform: rotate(360deg);
        
    }
    to {
        transform: rotate(0deg);
    }
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title img{
    width: 66px;
    height: auto;
}
b{
    font-family: inherit;
}
#moreText{
    height: 0px;
    opacity: 0;
}