:root{
    --mainText: #F1DFD1;
    --reverseText: #232385;
    --mainAccent:#E85C4F;
    --fixedAccent: #C1121F;
    --logo: url(public/images/logo1Dark.svg);
}
.lightMode{
    --mainText:  #13134A;
    --reverseText: #F1DFD1;
    --mainAccent:#C1121F;
    --fixedAccent: #C1121F;
    --logo: url(public/images/logo2.svg);
}
*{
    margin: 0;
    padding: 0;
    color: var(--mainText);
    font-family: "Red Hat display";
    transition: all 0.2s ease-in-out;
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
.header_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    padding: 32px 72px;
    box-sizing: border-box;
    background: var(--mainText);
}
.logoContainer{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}
.logo_header{
    width: 138px;
    height: 23px;
    background-image: var(--logo)
}
.centeredBg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style: none;
    height: 24px;
}
nav ul li {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    color: var(--reverseText);
    padding: 0 10px;
}
nav ul li:hover{
    padding: 0 10px 5px 10px;
    color: var(--fixedAccent);
}
a{
    text-decoration: none;
    height: inherit;
    color: inherit;
}