header{
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
.header_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    padding: 12px 0 12px 72px;
    box-sizing: border-box;
}
.logoContainer{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}
.logo_header{
    width: 138px;
    height: 23px;
    background-image: url(public/images/logo1Dark.svg)
}
.centeredBg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    list-style: none;
}
nav ul li {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}
nav ul li a{
    padding: 0 22px;
}
a{
    text-decoration: none;
    height: inherit
}
a:hover{
    opacity: 0.5;
}